.header_left {
    color: rgba(25, 25, 25, 1);
    font-size: 27px;
    font-weight: 500;
    line-height: 34px;
    margin-right: 30px;
}

.header_left_small {
    color: rgba(117, 117, 117, 1);
    font-size: 16;
    font-weight: 400;
    line-height: 24px;
    margin: 0 12px;
}

.selection_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header_right {
    margin-right: 35px;
}

.img_search {
    width: 25px;
    height: 25px;
}

header {
    min-height: 115px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
}

body {
    margin: 0;
}